{% extends "layouts/base.njk" %}

{% block main %}
{%- set color %}{% block main_color %}blue{% endblock %}{% endset -%}

  <main role="main" class="col s12">
    <section class="index-wrapper {{ color }}">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header {{ color }} lighten-5">
        {% block blog_header %}
          <div class="main_title"> 
            <h4 class="blog-post-title" itemprop="name headline">
              <a href="{{ page.url | url }}">
                {{ renderData.title or title or metadata.title }}
              </a></h4>
          </div>
        {% endblock %}
        </section>

        {%- if showPagination -%}
        <section class="center-align" itemprop="pagination">
        {% block pagination %}{% endblock %}
        </section>
        {%- endif -%}

        <section class="blog-index" itemprop="ItemList">
          {{ content | safe }}
        </section>

      </div>
    </section>
  </main>
{% endblock %}
