// -- -- -- -- --
// _list.scss

div.archive-month,
div.archive-item {
  position: relative;
}

.archive-item:hover:before  {
  color: color("grey", "darken-2");
}

ul.archive-item,
ul.archive-item ul {
  position: relative;
  list-style: none;
}

ul.archive-item li:before {
  position: relative;
  left: -15px;
  content: "\00BB";
  color: color("grey", "darken-2");
}

// -- -- -- -- --
// Components: Tags

.archive-year {
  font-weight: bold;
}

// -- -- -- -- --
// Widget List

ul.widget-list li:hover {
    background: color("yellow", "lighten-2");
}

ul.widget-list {
  padding: 0px;
}

ul.widget-list {
  padding-left: 0;
  list-style: none;
  font-size: 13px;
  margin-left: 20px;
}

// Material Font

// https://github.com/google/material-design-icons/blob/master/iconfont/codepoints

div.archive-item a:before,
ul.widget-list li:before {
  font-family: "Material Icons";
  content: '\e91c'; // opacity
  color: color("grey", "base");
  margin: 0 5px 0 -12px;
}

ul.widget-archive >li:before {
  font-family: "Material Icons";
  content: '\e8b4';  // room
  color: color("grey", "base");
  margin: 0 5px 0 0px;
}

ul.widget-archive li ul.widget-list li:before {
  margin: 0 5px 0 3px;
}

// -- -- -- -- --
// Flip Flop

div.archive-list {
  padding-left: 10px;
  padding-right: 10px;
}

.archive-list {
  .archive-item:nth-child(even) {
    background-color: color("grey", "lighten-5");
  }

  .archive-item:nth-child(odd) {
    background-color: color("grey", "lighten-4");
  }

  .archive-item:hover {
    background-color: color("yellow", "lighten-2");
  }
}

.meta-item:nth-child(even) {
    background-color: color("grey", "lighten-5");
}

.meta-item:nth-child(odd) {
    background-color: color("grey", "lighten-4");
}
  
.meta-item:hover {
    background-color: color("yellow", "lighten-2");
}
