
  {%- set posts = posts | mapdate -%}
  {%- set groupByYear = posts | groupBy('year') | dictsort | reverse -%}

  <div class="row">
  {%- for year, postsInYear in groupByYear -%}
    <div class="archive">

      <div class="col s12 m6 l4">
        <div class="widget white z-depth-1 hoverable m-5">

          <div class="widget-header {{ color }} lighten-4">
            <i class="material-icons left">folder_open</i>
            <div class ="anchor-target archive-year" 
                 id="{{ year }}"><strong>{{ year }}</strong></div>
            <div class="clearfix"></div>
          </div>

          <div class="widget-body">
            <div class="archive-list">

            {%- for post in postsInYear | sort(false, true, 'month') -%}
              <div class="archive-item">
                <div class="left"><a href="{{ post.url | url }}">
                  {{ post.data.title }}
                </a></div>
                <div class="right right-align"><time>
                    {{ post.date | date('DD MMM') }}
                    <i class="material-icons right">access_time</i>
                </time></div>
                <div class="clearfix"></div>
              </div>
            {%- endfor -%}

            </div>
          </div>

        </div>
      </div>

    </div>
  {%- endfor -%}
  </div>
