  <!-- footer -->
  <footer class="page-footer grey lighten-3">
    <div class="container black-text">
      © {{ metadata.now | date("Y") }}
      <a class="grey-text text-darken-3 right"
         href="#">Example Site</a>
    </div>
  </footer>
