
  <meta charset="utf-8">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <link href="{{ "/assets/favicon.ico" | url }}" rel="shortcut icon" type="image/x-icon" />

  <!-- Import Google Icon Font -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Custom CSS -->
  <link type="text/css" rel="stylesheet"
        href="{{ "/assets/css/main.css" | url }}">

  <!-- Let browser know website is optimized for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

