
  <meta charset="utf-8">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <link rel="shortcut icon" type="image/x-icon" 
        href="{{ "/assets/favicon.ico" | url }}"/>

  <!-- Stylesheet -->
  <link type="text/css" rel="stylesheet" media="screen,projection"
        href="{{ "/assets/css/materialize.css" | url }}">
  <link type="text/css" rel="stylesheet"
        href="{{ "/assets/css/main.css" | url }}">

  <!-- Let browser know website is optimized for mobile -->
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0"/>
