---
layout    : tag-name
eleventyExcludeFromCollections: true

pagination:
  data: collections
  size: 1
  alias: tag

permalink: /tags/{{ tag }}/

renderData:
  title: Tagged “{{ tag }}”

---

  {% set postsList = collections[ tag ] %}
  {%- for post in postsList -%}
    <div class="archive-item">
      <div class="left">
        <a href="{{ post.url | url }}">
          {{ post.data.title }}
        </a></div>
      <div class="right right-align"><time>
          {{ post.data.date | date('DD MMM') }}
          <i class="material-icons left">access_time</i>
      </time></div>
      <div class="clearfix"></div>
    </div>
  {%- endfor -%}
  
  <p>List of <a href="{{ '/tags/' | url }}">all tags</a>.</p>
