---
layout    : tags
title     : List of Tags
eleventyExcludeFromCollections: true
---

  {%- for tag in collections.tagList -%}
    {%- set postsList = collections[ tag ] -%}
    {%- set listCount = postsList.length -%}
    {%- set tagUrl %}/tags/{{ tag }}/{% endset -%}

    {% if listcount %}
      <a href="{{ tagUrl | url }}">
        <span class="new blue darken-4 badge z-depth-1 hoverable m-b-5" 
              data-badge-caption="{{ tag }}"
          ><strong>{{ listCount }}</strong></span>
      </a>
    {% endif %}
  {%- endfor -%}

  <ul>
    {%- for tag in collections.tagList -%}
    <li>
      {%- set postsList = collections[ tag ] -%}
      {%- set listCount = postsList.length -%}
      {%- set tagUrl %}/tags/{{ tag }}/{% endset -%}

      <a href="{{ tagUrl | url }}" class="tag">
        {{ tag }} ({{ listCount }})</a>
    </li>
    {%- endfor -%}
  </ul>
