---
layout    : home
eleventyExcludeFromCollections: true
---

  <ul class="collection with-header z-depth-3 hoverable">
    <li class="collection-header">
      <h4>Your Mission</h4></li>
    <li class="collection-item">
      To have, to hold, to love,
      cherish, honor, and protect?</li>
    <li class="collection-item">
      To shield from terrors known and unknown?
      To lie, to deceive?</li>
    <li class="collection-item active grey darken-1">
      To live a double life,
      to fail to prevent her abduction,
      erase her identity, 
      force her into hiding,
      take away all she has known.</li>
  </ul>


