{% extends "layouts/base.njk" %}

{% block main %}
  <h2>{{ renderData.title or title or metadata.title }}</h2>
  <strong>This is a tags kind layout.</strong>
  <br/>

  {{ content | safe }}
{% endblock %}
