/* layout page */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.layout-inner {
  flex: 1 0 auto;
  padding-top: 2rem;
}

/* navigation bar */

nav .nav-wrapper .brand-logo {
  display: inline-block;
  height: 100%;
}

nav .nav-wrapper .brand-logo>img {
  vertical-align: middle;
  height: 40px;
  padding-bottom: 8px;
}

/* layout content */

.blog, .widget {
  padding: 10px;
  margin-bottom: 20px;
}
