// -- -- -- -- --
// _list.scss

// Material Font

// https://github.com/google/material-design-icons/blob/master/iconfont/codepoints

div.archive-item a:before,
ul.widget-list li:before {
  font-family: "Material Icons";
  //font-weight: 900;
  content: '\e91c'; // chevron right
  color: color("grey", "base");
  margin: 0 5px 0 -12px;
}

// Item Decoration

div.archive-list {
  padding-left: 10px;
  padding-right: 10px;
}

.archive-list {
  .archive-item:nth-child(even) {
    background-color: color("grey", "lighten-5");
  }

  .archive-item:nth-child(odd) {
    background-color: color("grey", "lighten-4");
  }

  .archive-item:hover {
    background-color: color("yellow", "lighten-2");
  }
}

.meta-item:nth-child(even) {
    background-color: color("grey", "lighten-5");
}

.meta-item:nth-child(odd) {
    background-color: color("grey", "lighten-4");
}
  
.meta-item:hover {
    background-color: color("yellow", "lighten-2");
}
