  {%- set posts = posts | mapdate  -%}
  {%- set postsByYear = posts | groupBy('year') | dictsort | reverse -%}

  <ul>
    {%- for year, group in postsByYear -%}
    <li>
      <strong>{{ year }}</strong>

      <ul>
        {%- for post in group | sort(false, true, 'month') -%}
        <li>
          {{ post.month }}
          <a href="{{ post.url | url }}">
            {{ post.data.title }}</a>
            ({{ post.date | date('YYYY, MMM Do') }})
        </li>
        {%- endfor -%}
      </ul>

    </li>
    {%- endfor -%}
  </ul>
