
  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Table of Content</strong>
      <span class="fa fa-archive is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <ul class="widget-list">
        <li><a href="{{ "/lyrics/eurythmics-sweet-dreams/" | url }}"
              >Marilyn Manson - Sweet Dreams</a></li>
        <li><a href="{{ "/lyrics/marylin-manson-redeemer/" | url }}"
              >Marilyn Manson - Redeemer</a></li>
      </ul>

    </div>
  </div>
