{% extends "layouts/base.njk" %}

{% block main %}
  <!-- main -->
  <main role="main" class="row layout-inner">
    <div class="offset-s1 col s10">
      {{ content | safe }}
    </div>
  </main>
{% endblock %}
