{% extends "layouts/base.njk" %}

{% block main %}
  <main role="main" class="col s12 m8">
    <div class="main-wrapper light-blue">
      <div class="blog white z-depth-3 hoverable">

        <h3>{{ renderData.title or title or metadata.title }}</h3>

        {{ content | safe }}

      </div>
    </div>
  </main>
{% endblock %}

{% block aside %}
  <aside class="col s12 m4">
    <div class="aside-wrapper pink">
      <div class="widget white z-depth-3 hoverable">
         This is a tags kind layout.
      </div>
    </div>
  </aside>
{% endblock %}
