{% extends "layouts/columns-double.njk" %}

{% block main_color %}brown{% endblock %}
{% block aside_color %}light-green{% endblock %}

{% block widget_body %}
  <p>This is an index kind layout.
  This layout is intended to show blog list.</p>
{% endblock %}
