{% extends "layouts/columns-double.njk" %}

{% block main_color %}blue{% endblock %}
{% block aside_color %}teal{% endblock %}

{% block blog_header %}
  <div class="main_title"> 
    <h4 class="blog-post-title" itemprop="name headline">
      <a href="{{ page.url | url }}">
        {{ renderData.title or title or metadata.title }}
      </a></h4>
    <b>{{ page.date | date('MMMM Do, YYYY') }}</b>
  </div>
{% endblock %}

{% block widget_body %}
  <p>This is a post kind layout.</p>
{% endblock %}
