{% extends "layouts/columns-double.njk" %}

{% block main_color %}indigo{% endblock %}
{% block aside_color %}orange{% endblock %}

{% block widget_body %}
  <p>This is a tag-name kind layout.</p>
{% endblock %}
