<!DOCTYPE html>
<html lang="en">
<head>
  {% include "site/head.njk" %}
</head>
<body class="white grey-text text-darken-4">
{% include "site/header.njk" %}

{% block general %}
  <!-- inner layout -->
  <div class="layout-inner">
  <div class="row maxwidth">
    {% block main %}
    {{ content | safe }}
    {% endblock %}

    {% block aside %}{% endblock %}
  </div></div>
{% endblock %}

{% include "site/footer.njk" %}
{% include "site/scripts.njk" %}
</body>
</html>
