{% extends "layouts/base.njk" %}

{% block main %}
  <main role="main" class="col s12 m8">
    <section class="main-wrapper indigo">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header indigo lighten-5">
          <div class="main_title"> 
            <h4 class="blog-post-title" itemprop="name headline">
              <a href="{{ page.url | url }}">
                {{ renderData.title or title or metadata.title }}
              </a></h4>
          </div>
        </section>

        <article class="blog-body" itemprop="articleBody">
          {{ content | safe }}
        </article>

      </div>
    </section>
  </main>
{% endblock %}

{% block aside %}
  <aside class="col s12 m4">
    <section class="aside-wrapper green">
      <div class="widget white z-depth-3 hoverable">

        <div class="widget-header green lighten-4">
          <strong>Side Menu</strong>
          <i class="material-icons right">all_inclusive</i>
        </div>

        <div class="widget-body">
          <p>This is a page kind layout.</p>
        </div>

      </div>
    </section>
  </aside>
{% endblock %}
