  <footer class="page-footer transparent">
  <div class="footer maxwidth white z-depth-3 hoverable">
    <div class="container black-text">
      © {{ metadata.now | date("Y") }}
      <a class="grey-text text-darken-3 right"
         href="#">Example Link</a>
    </div>
  </div>
  </footer>
