---
layout    : home
eleventyExcludeFromCollections: true
---

<h3 class="center-align">Welcome to 11ty Demo!</h3>
<h4 class="center-align">11ty + Nunjucks + Materialize</h4>

<p class="center-align">This demo contain six chapters:</p>

<div class="center-align">
  [ <a href="{% repo %}/tutor-01">Tutor 01</a> ]
  [ <a href="{% repo %}/tutor-02">Tutor 02</a> ]
  [ <a href="{% repo %}/tutor-03">Tutor 03</a> ]
</div>
<div class="center-align">
  [ <a href="{% repo %}/tutor-04">Tutor 04</a> ]
  [ <a href="{% repo %}/tutor-05">Tutor 05</a> ]
  [ <a href="{% repo %}/tutor-06">Tutor 06</a> ]
</div>

<p class="center-align">A thorough Eleventy tutorial
can be found in this article series.</p>

<div class="center-align">
  [ <a href="https://epsi-rns.gitlab.io/ssg/2020/01/01/11ty-bulma-md-overview/"
  >Eleventy - Bulma MD - Overview</a> ]
</div>

<p class="center-align">This site is intended as demo only.</p>



<p class="center-align">
  <a class="waves-effect waves-light btn
            blue-grey darken-2 hoverable
            m-b-5"
     href="{{ "/pages/archives/" | url }}">
    <span class="hide-on-small-only">
      Articles Sorted </span>by Month</a>
  <a class="waves-effect waves-light btn
            blue-grey darken-1 hoverable
            m-b-5"
     href="{{ "/tags" | url }}">
    <span class="hide-on-small-only">
      Articles Sorted </span>by Tag</a>
</p>

<div class="center-align">
  <img src="{{ "/assets/images/one-page.png" | url }}"
       class="responsive-img" 
       alt="business card">
</div>

<p class="center-align">
  <a class="waves-effect waves-light btn
            blue-grey darken-4 hoverable
            m-b-5"
     href="https://gitlab.com/epsi-rns/tutor-11ty-materialize/">
    Clone Eleventy Tutorial Repository</a>
  <a class="waves-effect waves-light btn
            blue-grey darken-3 hoverable
            m-b-5"
     href="https://gitlab.com/epsi-rns/tutor-html-materialize/">
    Clone Materialize Tutorial Repository</a>
</p>

<p class="center-align">
  <a class="waves-effect waves-light btn
            blue-grey darken-2 hoverable
            m-b-5"
     href="https://epsi-rns.github.io/">Web/Mobile
    <span class="hide-on-small-only">
      Development</span></a>
  <a class="waves-effect waves-light btn
            blue-grey darken-1 hoverable
            m-b-5"
     href="https://epsi-rns.gitlab.io">BSD/Linux
    <span class="hide-on-small-only">
      Customization</span></a>
</p>

<p class="center-align">
  <i class="material-icons">home</i><br/>
  Whitewood Street, Monday Market,
  East Jakarta, 55112, Indonesia.</p>
